body {
    background-color: #133ea4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 100vw;
}

canvas {
    border: 4px solid #2c2c2d;
    border-radius: 8px;
    background-color: #feff9d;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;
}


.btns img {
    margin: 0 20px;
}

.btns img:nth-child(2) {
    margin-right: 80px;
}

.btns img:hover {
    width: 120px;
    height: 120px;
}

#up {
    transform: rotate(180deg);
    width: 100vw;
    height: 70px;
    object-fit: contain;
}

#up:hover {
    cursor: pointer;
}

#left {
    transform: rotate(90deg);
    width: 100px;
    height: 70px;
    object-fit: contain;
}

#left:hover {
    cursor: pointer;
}

#right {
    transform: rotate(270deg);
    width: 100px;
    height: 70px;
    object-fit: contain;
}

#right:hover {
    cursor: pointer;
}

#down {
    width: 100vw;
    height: 70px;
    object-fit: contain;
}

#down:hover {
    cursor: pointer;
}

.messages {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 5px 0px 5px;
    width: 100vw;
    height: 15%;
    max-width: 100vw;
    justify-content: center;
    background-color: #45464868;
    border-radius: 30px;
}

.messages p {
    display: flex;
    width: 100px;
    height: 2%;
    margin: 0px 5px;
    padding: 20px;
    font-size: 16px;
    justify-content: center;
    flex-direction: column;
}

.messages p:nth-child(4) {
    display: flex;
    width: 100vw;
    background-color: #2c2c2d24;
    border-radius: 30px;
    text-align: center;
}




@media (max-width: 440px) {

    #up,
    #left,
    #right,
    #down
    {
        height: 70px;
        object-fit: contain;
    }
    .messages p:nth-child(4) {
        margin-top: 10px;
    }
}

@media (max-width: 339px) {

    #up,
    #down {
        margin: 0;
        width: 100%;
        height: 50px;
    }
    #left,
    #right {
        margin: 0px 15px;
        width: 50px;
        height: 50px;
    }

    .messages {
        padding-bottom: 50px;
    }
}















/* body {
    background-color: rgb(23, 64, 145);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

canvas {
    border: 4px solid #2c2c2d;
    border-radius: 8px;
    background-color: #feff9d;
}

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

button {
    background-color: #fdef05;
    border-radius: 8px;
    border-color: #2c2c2d;
    font-family: inherit;
    margin: 0;
    padding: 5px 20px;
    width: 100px;
}

button:not(:last-child) {
    margin-right: 10px;
}

.messages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
}

p {
    display: block;
    margin: 0;
    width: 100%;
}

@media (max-width: 440px) {
    button {
        margin-top: 25px;
    }

    #up,
    #down {
        margin-left: 100%;
        margin-right: 100%;
    }
} */